/* 全局样式统一导入文件 */

/* 颜色相关 */
@import 'color/dynamic-color-variables.css'; /* 动态颜色变量声明 */
@import 'color/light-theme-color.css';
@import 'color/dark-theme-color.css';
@import 'element/element-color.css';

/* Element Plus 样式覆盖 */
@import 'element/element-override.css';

/* 动画效果 */
@import 'animations/theme-transition.css';
@import 'animations/page-transition.css';
@import 'animations/error-page.css';
@import 'animations/loading.css';

/* 字体和图标大小 */
@import 'size/font/font-size.css';
@import 'size/icon/icon-size.css';

/* 间距 */
@import 'size/spacing/gap-size.css';
@import 'size/global-size.css';

/* 尺寸 */
@import 'size/dimensions/height-size.css';
@import 'size/dimensions/width-size.css';

/* 圆角 */
@import 'radius/global-radius.css';

@import 'global.css';