:root {
    --height-size-xs: 10px;
    --height-size-sm: 30px;
    --height-size-md: 50px;
    --height-size-lg: 100px;
    --height-size-xl: 200px;

    --height-size-tab-bar: 36px;

    --height-size-header: var(--height-size-md);

    --height-size-page: calc(100vh - var(--height-size-tab-bar) - var(--height-size-header) - var(--gap-size-3xl) - var(--gap-size-xl) - 2 * var(--gap-size-xs));

    --height-size-color-picker-item: var(--height-size-sm);

    /* 图标选择器尺寸 */
    --height-size-icon-item: 32px;
    --height-size-icon-selector-dropdown: 240px;
}