:root {
    --width-size-xm: 10px;
    --width-size-sm: 30px;
    --width-size-md: 30px;
    --width-size-lg: 40px;
    --width-size-xl: 50px;


    --width-size-sidebar: 200px;

    --width-size-sidebar-fold: 64px;

    --width-size-color-picker-item: var(--width-size-sm);

    --width-size-drawer: 300px;
}