/* Element Plus 变量映射 */
:root {
    /* 主色 */
    --el-color-primary: var(--pp-purple);
    --el-color-primary-light-3: var(--pp-purple-light-3);
    --el-color-primary-light-5: var(--pp-purple-light-5);
    --el-color-primary-light-7: var(--pp-purple-light-7);
    --el-color-primary-light-8: var(--pp-purple-light-8);
    --el-color-primary-light-9: var(--pp-purple-light-9);
    --el-color-primary-dark-2: var(--pp-purple-dark-2);

    /* 背景色 */
    --el-fill-color-blank: var(--pp-bg-color-overlay);

    --el-box-shadow-light: 0 0px 12px var(--pp-shadow-medium);
}

html.dark {
    /* 主色 */
    --el-color-primary: var(--pp-purple);
    --el-color-primary-light-3: var(--pp-purple-light-3);
    --el-color-primary-light-5: var(--pp-purple-light-5);
    --el-color-primary-light-7: var(--pp-purple-light-7);
    --el-color-primary-light-8: var(--pp-purple-light-8);
    --el-color-primary-light-9: var(--pp-purple-light-9);
    --el-color-primary-dark-2: var(--pp-purple-dark-2);

    /* 背景色 */
    --el-bg-color-overlay: var(--pp-bg-color-overlay);
    --el-fill-color-blank: var(--pp-bg-color-overlay);
    --el-menu-bg-color: var(--pp-bg-color-overlay);

    --el-box-shadow-light: 0 0px 12px var(--pp-shadow-medium);
}