:root {
    /* 背景色 */
    --am-bg-color: #ededed;
    --am-bg-color-medium: #f5f5f5;
    --am-bg-color-overlay: #ffffff;
    --am-bg-color-hover: var(--am-bg-color-medium);
    --am-bg-color-active: var(--am-bg-color);
    --am-input-bg-color: var(--am-bg-color-overlay);

    /* 边框色 */
    --am-border-color: #777777;
    --am-border-color-light: #c4c4c4;
    --am-border-color-dark: #313131;

    /* Logo色 */
    --am-logo-primary: #F4CB3E;
    --am-logo-secondary: #000000;

    /* 滚动条色 */
    --am-scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
    --am-scrollbar-thumb-color-hover: rgba(0, 0, 0, 0.4);
    --am-scrollbar-thumb-color-active: rgba(0, 0, 0, 0.6);

    /* 分隔阴影色 */
    --am-shadow-light: rgba(0, 0, 0, 0.06);
    --am-shadow-medium: rgba(0, 0, 0, 0.1);
    --am-shadow-strong: rgba(0, 0, 0, 0.15);
}